body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
  }

h1 {
  font-size: 8rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:  #11999E;
}

a{
  color: #11999E;
  font-family: 'Merriweather Sans', sans-serif;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.profile-photo{
  height: 300px;
  width: 300px;
  margin: 100px auto 0px auto;
}


.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 450px;
  top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 450px;
  bottom: 300px;
}


.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

  }

.skill-gif {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.typing-gif{
  width: 25%;
  margin-right: 30px;
  float: right;
}

hr{
  color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 4%;
  margin: 100px auto;
}

.contact-me {
  width: 40%;
  margin: 40px auto 60px;
  line-height: 50px;
}

.btn {
  margin-top: 60px;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.bottom-container{
  background-color: #66BFBF;
  position: relative;
  padding-bottom: 20px;
  margin-top: 30px;
  color: #EAF6F6;

}

.contacts-info{
  padding-top: 60px;
  margin-bottom: 30px;
  word-spacing: 30px;
}

p{
  line-height: 2;
}

.bottom-name{
  font-size: 0.75rem;
  padding-top: 20px;
}

.intro-sen{
  width: 30%;
  margin: auto;
}
